<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center blue-text">Nuvem de Tags</h1>
    <div class="row center">
      <h5 class="header col s12 light">Importar o histórico do chat do batepapo do e-Democracia</h5>
    </div>
    <div class="row center">
      <%= render 'form' %>
    </div>
    <br><br>

  </div>
  <div class="modal"></div>
</div>